body {
    background: linear-gradient(85.38deg, #EDEDE4 -23.38%, #F8F2EB 97.65%);
}

.div_BallsHeader1 {
    position: absolute;
    width: 320px;
    height: 250px;
    left: 1197px;
    top: 10.38px;

    background: #f7c5bd;
    box-shadow: 11.8812px 16.6337px 123.565px rgba(0, 0, 0, 0.12);
    z-index: -1;
    filter: blur(118.812px);
}

.div_BallsHeader2 {
    position: absolute;
    width: 360px;
    height: 150px;
    left: 507px;
    top: 5.38px;

    background: #a1b182;
    box-shadow: 11.8812px 16.6337px 123.565px rgba(0, 0, 0, 0.12);
    z-index: -1;
    filter: blur(118.812px);
}

.div_BallsDown1 {
    position: absolute;
    width: 420px;
    height: 120px;
    left: 97px;
    top: 658.38px;

    background: #f7c5bd;
    box-shadow: 11.8812px 16.6337px 123.565px rgba(0, 0, 0, 0.12);
    z-index: -1;
    filter: blur(118.812px);

}

.div_BallsDown2 {
    position: absolute;
    width: 220px;
    height: 280px;
    left: 1253px;
    top: 458.38px;

    background: #a1b182;
    box-shadow: 11.8812px 16.6337px 123.565px rgba(0, 0, 0, 0.12);
    z-index: -1;
    filter: blur(118.812px);
}


.container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.header {
    background: #fbeaea71;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #142E38;
}

.container .navbar {
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.drop-down {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.drop-down .drop-down-user-profile {
    z-index: 6;
    width: 40px;
    position: absolute;
    left: 19px;
    top: 21px;
}

.drop-down .drop-down-ball-menu {
    z-index: 1;
    width: 85%;
}

.container-nav .user-pic {
    width: 30px;
    border-radius: 50%;
}

.drop-down p {
    padding-left: 8px;
    cursor: pointer;
}

.navbar ul {
    width: 100%;
    text-align: right;
    display: flex;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.navbar ul li a {
    color: #142E38;
    text-decoration: none;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    border-radius: 20px;
}

.sub-menu-wrap.open-menu {
    max-height: 473px;
    z-index: 999;
}

.sub-menu {
    width: 100%;
    background-color: #DCD7B9;
    padding: 20px;
    border-radius: 20px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
    color: 142E38;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #142E38;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #142E38;
    margin: 12px 5px;
}

.sub-menu-link img {
    width: 40px;
    background-color: #F4F2E6;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link p {
    width: 100%;
    color: #142E38;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
    color: #142E38;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}


/* Drop down de Funcionalidades */
.drop-funcionalidade {
    padding-left: 4em;
    margin-top: 2.3em;
    height: 20em;
    width: 30em;
}

.caixa {
    width: 81.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #DBDCC9;
    border: 2px outset #142E38;
    border-radius: 20px;
}

.cliente {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 0.7em;
    margin-top: 2em;
    margin-bottom: 1em;
    width: 90%;
    background: #DCD7B9;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.drop-funcionalidades {
    display: flex;
    justify-content: space-evenly;
    padding: 0.7em;
    margin-bottom: 2em;
    width: 90%;
    background: #DCD7B9;
    border: 1px solid #000000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#drop_subMenuLista,
#subMenuTemporizador,
#subMenuCronometro {
    display: none;
}

.drop-funcionalidades img {
    cursor: pointer;
} 

.hidden-completo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


    /* Lista de Apoio */
.lista-apoio-completa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.7em;
    margin-bottom: 2em;
    width: 90%;
    background: #DCD7B9;
    border: 1px solid #000000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.titulo p {
    font-size: 0.8rem;
    font-weight: 400;
    /* width: 70%; */
}

.check-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.7em;
}

.check-list label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 0.8rem;
    padding-left: 1.2em;
}

.chk {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


    /* Player de música */



    /* Temporizador */
.temporizador-completo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    padding: 1.7em 0.6em;
    margin-bottom: 1.8em;
    width: 370px;

    background: #DCD7B9;
    border: 1px solid #000000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    
    height: 300px;
}

.contador-relogio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    font-size: 3.2rem;
    font-weight: 600;
}

.campo-temporizador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.campo-temporizador label {
    font-size: 1rem;
    font-weight: 400;
}

.campo-temporizador input {
    display: flex;
    align-items: center;
    text-align: center;

    font-size: 1rem;
    font-weight: 400;
    padding: 6px 12px;

    background-color: #CBCBCB;
    border: #8b8b8b91 outset;
    border-radius: 16px;
}

.btns_relogio {
    width: 185px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

    /* Cronômetro */
.cronometro-completo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 1.7em 0.6em;
    margin-bottom: 1.8em;
    width: 370px;

    background: #DCD7B9;
    border: 1px solid #000000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.sub-titulo-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-titulo-arrow .h2-tipo {
    font-size: 1.8rem;
    margin-bottom: 0 !important;
}

.sub-titulo-arrow button {
    background: none;
}

#seta {
    width: 60px;
    padding-left: 10px;
    cursor: pointer;
}

.contador-relogio {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
}

.btn_passar {
    padding: 5px 14px;
    background-color: #67732C;
    border-radius: 50px;
    color: #FFF;
    font-family: Poppins;
    font-weight: 400;
    cursor: pointer;
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.div_container_auxiliares {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    /* Bubble */
.bubbles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 155px;
    left: 650px;
    border: 2px outset #142E38;
    border-radius: 20px;
    background: #DBDCC9;
    padding: 20px 60px;
}

.bubbles::before {
    content: '';
    display: block;
    width: 60vh;
    height: 40vh;  
    background-color: var(--blob);  
    box-shadow: var(--shades);
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    animation: 
      transform 50s ease-in-out infinite both alternate,
      movement 40s ease-in-out infinite both;
}
  
@keyframes transform {
    0%,
    100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
    14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
    28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
    42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
    56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
    70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
    84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}
  
@keyframes movement {
    0%,
    100% { transform: none;}
    50% { transform: translateY(20%) rotateY(10deg);}
}

:root {
    --background: #fff;
    --blob: #4eb62f9e;
    --shades: inset -40px 10px 100px #4e564c9e;
} 

.bubbles #btn_bubble {
    margin-top: 7em;
    z-index: 6;
}


    /* Lava Lamp  */
.lamp {
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);
    
    height: 73vh;
    width: 37vh;
    background: #2b4353;
    
    /* O 'clip-path' é uma propriedade do CSS que, quando utilizada, indica as regiões de um objeto que deverá ser recortado */
    /* O 'polygon()' é considerado um valor do 'clip-path' que preenche com SVG um conjunto de vértices predeterminados, criando algo parecido com um retângulo */
    /* Os valores indicados em porcentagem recortam o polígono formando uma imagem semelhante a uma lava lamp */
    clip-path: polygon(33% 0, 0 70%, 22% 88%, 0 100%, 100% 100%, 78% 88%, 100% 70%, 67% 0);
}
.glass {
    background: #b6e1e0;
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 30%;
    overflow: hidden;
}

  /* Aqui é feito um efeito de bolhas se grudando e desgrudando */
.lava {
    filter: url("#goo");
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
  
  /* Abaixo são criadas as bolhas e setadas as suas porpriedades como cores, posições fixas e as animações que faram se movimentar pela área determinada  */
.blob {
    border-radius: 50%;
    background-color: #e8630a;
    position: absolute;
    box-shadow: 0 0 30px #ff4d00;
}

.blob.top {
    width: 100%;
    height: 4%;
    top: -3.7%;
    left: 0;
}

.blob.bottom {
    width: 100%;
    height: 4%;
    bottom: -3%;
    left: 0;
}

  /* ':nth-child(n)' é um seletor do CSS que seleciona dentro de um conjunto de elementos filhos da classe indicada antes dos dois pontos (':'). O 'n' dentro do parenteses recebe um número para indicar qual será o elemento filho a ser selecionado e estilizado. */
.blob:nth-child(1) {
    width: calc(15% * 1.4);
    height: 15%;
    left: 45%;
    bottom: -15%;
    
    /* A animação 'ease-in-out' com indicação de tempo indica que haverá uma movimentação por um determinado tempo e com um efeito de 'slow' no começo e no final dessa animação. */
    animation: blob-one ease-in-out 7s infinite;
}

.blob:nth-child(2) {
    width: calc(22% * 1.4);
    height: 22%;
    right: 14%;
    bottom: -15%;
    
    animation: blob-two ease-in-out 11s infinite;
}

.blob:nth-child(3) {
    width: calc(32% * 1.4);
    height: 32%;
    bottom: -15%;
    left: 14%;
    
    animation: blob-three ease-in-out 16s infinite;
}
  
  /* '@keyframes' são como regras estabelecidas para realizar animações graduais de acordo com o conjunto de elementos e suas estilizações (como a supracitada). */
  /* Já a função 'translateY()' faz com que haja um reposicionamento vertical num plano 2D dos elementos indicados. */
@keyframes blob-one {
    0%, 100%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-700%);
    }
}
  
@keyframes blob-two {
    0%, 100%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-420%);
    }
}
  
@keyframes blob-three {
    0%, 100%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-305%);
    }
}

.btn_auxiliares {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70%;
    left: 56.5%;
}