/* Ellipses do background */
    /* Ellipse 1 */
.div_backgroundBalls .div_Balls1 {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 50.66px;
    top: 115.47px;
    
    background: rgb(250, 220, 156);
    box-shadow: 11.8812px 16.6337px 123.565px rgba(0, 0, 0, 0.12);
    z-index: -1;
    filter: blur(118.812px);
}

    /* Ellipse 2 */
.div_backgroundBalls .div_Balls2 {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 1143px;
    top: 428.38px;

    background: rgb(161, 177, 130);
    box-shadow: 11.8812px 16.6337px 123.565px rgba(0, 0, 0, 0.12);
    z-index: -1;
    filter: blur(118.812px);
}

/* 1ª Sessão */
.banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5.8em;
}

.banner .container-login {
    width: 40%;
    background-color: #f7e0ab61;
    border-radius: 25px;
    border: #0f2b36 solid;
}

.container-login .caixa-formulario {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container-login .caixa-formulario h1 {
    color: #142E38;
    font-size: 2.2em;
    font-weight: 700;
    padding-top: 0.8em;
}

.caixa-formulario .legenda-titulo {
    color: #142E38;
    text-align: center;
    width: 50%;
    font-size: 0.9em;
    padding-top: 0.2em;
}

.caixa-formulario .campo-email, .campo-senha {
    display: flex;
    flex-direction: column;
}

.caixa-formulario .campo label {
    text-align: start;
    padding-bottom: 0.2em;
    color: #142E38;
    font-size: 1.2em;
    font-weight: 650;
}

.campo .campo-email {
    padding: 1.5em 0;
}

.campo .campo-senha {
    padding-bottom: 2.5em;
}

.campo input {
    padding: 0.7em 0;
    padding-left: 1.2em;
    font-size: 0.9em;
    font-weight: 300;
    width: 360px;
    border-radius: 10px;
    color: #0a181d;
    background-color: #d9d9d9a6;
}

#img_olho {
    position: absolute;
    left: 938px;
    top: 500px;
    cursor: pointer;
    background-color: #dbdbdb;
    border-radius: 5px;
    z-index: 6;
} 

#img_olho {
    height: 14px;
    width: 14px;
}

#msg-email, #msg-senha p {
    font-size: 12px;
    color: red;
    padding: 5px 15px;
}

#msg-email, #msg-senha strong {
    color: red;
}

#btn-entrar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.3em;
    padding: 0.85em 1.3em;
    color: #AA9F00;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: #142F38;
    border-radius: 17px;
    cursor: pointer;
    transition: 0.8s;
}

#btn-entrar:hover {
    background-color: #142F38;
    transform: scale(1.1, 1.1);
}

#btn-entrar:active {
    transform: scale(0.9, 0.9);
}

.text-login {
    text-align: center;
    padding: 1em 0;
} 

.text-login p {
    color: #0B0333;
    padding: 2px 0;
    font-size: 0.7rem;
}

.text-login p a { 
    color: #0B0333;
    text-decoration: underline;
    font-size: 0.7rem;
}

/* Ilustações */
.illustrations #regando-cabeca {
    position: absolute;
    width: 23%;
    right: 73%;
    top: 8%;
    transition: 1.5s;
}

.illustrations #mente-fluida {
    position: absolute;
    width: 23%;
    left: 75%;
    top: 47%;
    transition: 1.5s;
}

.illustrations img:hover {
    transform: translate(0, -8px);
    transition: 1.5s; 
}

