@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400&display=swap');

/* Scrollbar */  
    /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
}
  
*::-webkit-scrollbar-track {
    background: #FADD9C;
}
  
*::-webkit-scrollbar-thumb {
    background: #f8b82dae;
    border-radius: 10px;
    border: 3px solid #FADD9C;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

* {
    font-family: 'Poppins', sans-serif;
}

/* Corpo da página */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(85.38deg, #EDEDE4 -23.38%, #F8F2EB 97.65%);
    color: #142E38;
}


/* Ellipses do background */
    /* Ellipse 1 */
.div_backgroundBalls .div_Balls1 {
    position: absolute;
    width: 320px;
    height: 320px;
    left: -80.66px;
    top: -120.47px;
    
    background: #fadc9c;
    box-shadow: 11.8812px 16.6337px 123.565px rgba(0, 0, 0, 0.12);
    z-index: -1;
    filter: blur(118.812px);
}

    /* Ellipse 2 */
.div_backgroundBalls .div_Balls2 {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 597px;
    top: 310.38px;

    background: #f7c5bd;
    box-shadow: 11.8812px 16.6337px 123.565px rgba(0, 0, 0, 0.12);
    z-index: -1;
    filter: blur(118.812px);
}

    /* Ellipse 3 */
.div_backgroundBalls .div_Balls3 {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 1153px;
    top: 428.38px;

    background: #a1b182;
    box-shadow: 11.8812px 16.6337px 123.565px rgba(0, 0, 0, 0.12);
    z-index: -1;
    filter: blur(118.812px);
}

    /* Ellipse 4 */
.div_backgroundBalls .div_Balls4 {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 55px;
    top: 1048.38px;

    background: #fadc9c;
    box-shadow: 11.8812px 16.6337px 123.565px rgba(0, 0, 0, 0.12);
    z-index: -1;
    filter: blur(118.812px);
}

    /* Ellipse 5 */
.div_backgroundBalls .div_Balls5 {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 609px;
    top: 1515.38px;

    background: #f7c5bd;
    box-shadow: 11.8812px 16.6337px 123.565px rgba(0, 0, 0, 0.12);
    z-index: -1;
    filter: blur(118.812px);
}

    /* Ellipse 6 */
.div_backgroundBalls .div_Balls6 {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 1190px;
    top: 1093.38px;

    background: #f7c5bd;
    box-shadow: 11.8812px 16.6337px 123.565px rgba(0, 0, 0, 0.12);
    z-index: -1;
    filter: blur(118.812px);
}

    /* Ellipse 7 */
.div_backgroundBalls .div_Balls7 {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 150px;
    top: 1886.38px;

    background: #a1b182;
    box-shadow: 11.8812px 16.6337px 123.565px rgba(0, 0, 0, 0.12);
    z-index: -1;
    filter: blur(118.812px);
}

    /* Ellipse 8 */
.div_backgroundBalls .div_Balls8 {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 1163px;
    top: 2306.38px;
    
    background: #fadc9c;
    box-shadow: 11.8812px 16.6337px 123.565px rgba(0, 0, 0, 0.12);
    z-index: -1;
    filter: blur(118.812px);
}

    /* Ellipse 9 */
.div_Balls9 {
    position: absolute;
    width: 320px;
    height: 320px;
    left: -160px;
    top: 2832.47px;
    
    background: #fadd9cd4;
    box-shadow: 11.8812px 16.6337px 123.565px rgba(0, 0, 0, 0.12);
    z-index: -1;
    filter: blur(118.812px);
}

    /* Ellipse 10 */
.div_Balls10 {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 1190px;
    top: 2930.47px;
    
    background: #f7c5bdd4;
    box-shadow: 11.8812px 16.6337px 123.565px rgba(0, 0, 0, 0.12);
    z-index: -1;
    filter: blur(118.812px);
}

.div_allAbove {
    z-index: 6;
}

/* Cabeçalho */
.header {
    width: 100%;
    background: #fbeaea71;
    z-index: 6;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 13%);
}

.header .container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2em;
}

    /* Logo */
.container .logo {
    display: flex;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo img {
    width: 63px; 

}

.rotate {
    animation: rotation 98s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.logo span {
    padding-left: 0.5em;
    font-size: 26px;
    font-weight: 700;
    color: #142E38;
}

    /* Navbar */
.navbar {
    display: flex;
    align-items: center;
}

.navbar .list-item {
    display: flex;
    list-style: none;
}

.navbar .list-item li {
    padding: 1em;
}

.navbar .list-item li a {
    font-size: 1.2rem;
    color: #142F38;
}

.a-destaque {
    font-weight: 800;
}

.navbar .list-item li::after {
    content: '';
    width: 0;
    height: 1.2px;
    display: block;
    background-color: #142F38;
    transition: 0.7s;
}

.navbar .list-item li:hover::after {
    width: 100%;
}

    /* Botão de login */
.container .btn {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 500;
    font-family: Poppins;
    background-color: #67732C;
    border-radius: 17px;
    padding: 0.75em 1.2em;
    cursor: pointer;
    transition: 0.8s;
}

.container #a-btn {
    display: flex;
}

.btn:hover {
    background-color: #67732C;
    transform: scale(1.1, 1.1);
}
    
.btn:active {
    transform: scale(0.9, 0.9);
}


/* 1ª sessão */
section {
    padding-left: 4em;
}

.background-img {
    z-index: -1;
    opacity: 35%; 
    overflow: hidden;
}

    /* Imagens de flores no background */
.background-img #img-flor {
    z-index: -1;
    position: absolute;
    width: 13%;
    left: 87%;
    top: 7%;
}

.background-img #img-flor-folha {
    z-index: -1;
    position: absolute;
    width: 18%;
    left: -5%;
    top: 71%;
    transform: rotate(-9.42deg);
}

.banner {
    margin-top: 6.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    /* Conteúdo de texto */
.container .span-tag {
    width: max-content;
    background-color: #8b9651;
    padding: 0.4em 1em;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 0.85rem;
}

.banner .container h1 {
    width: 48%;
    color: #142E38;
    font-weight: 700;
    font-size: 2.8em;
    margin: 30px 0 15px 0;
    line-height: 120%;
}

.container p {
    width: 45%;
    font-size: 1.2em;
    font-weight: 300;
}

.container p strong {
    color: #142E38;
}

.container #a-btn {
    width: max-content;
}

.content-text #btn-bisbilhotar {
    margin-top: 1.75rem;
    font-size: 1em;
}

.banner .container .content-img {
    position: absolute;
    left: 56.9%;
    top: 11%;
}

.content-img #mulher-meditando {
    max-width: 93%;
    max-height: 93%;
    width: auto;
    height: auto;
    transition: 1.5s;
}

.content-img img:hover {
    transform: translate(0, -8px);
    transition: 1.2s; 
}
  

/* 2ª Sessão - História e Idealizador*/
.quem-sou-eu {
    width: 100%;
    height: 150%;
    margin-top: 22.7em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.identifica {
    display: flex;
    flex-direction: column;
}

.identifica h1 {
    text-decoration: underline;
    font-size: 2em;
    color: #142E38;
}

#foto-quem-somos {
    width: 293px;
    height: 352px;
}

.content-text-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historia,
.idealizador {
    width: 80%;
    max-width: max-content;
    padding: 2%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.historia {
    position: relative;
    left: -4%;
    background-color: #b2b78f82;
    max-width: max-content;
    margin-bottom: 2em;
}

.content-text-sobre span {
    font-weight: bold;
}

#span-nome-plumeria {
    color: #788a00;
}

#span-dev {
    color: #065C77;
}

#span-cafe {
    color: #2D1301;
}

#span-amizade {
    color: #8C8708;
}

#span-natureza {
    color: #072D01;
}

#span-fotografar {
    color: #444644;
}

.idealizador {
    background-color: #f6e0afed;
    position: relative;
    left: 2%;
}

.content-text-sobre h2 {
    font-size: 1.2em;
    font-weight: 600;
    color: #142E38;
}

.content-text-sobre p {
    text-align: justify;
}


/* 2ª Sessão */
.quem-somos {
    width: 100%;
    padding-top: 8.7em;
}

    /* Background de Flores */
.background-img #img-trio-flor {
    z-index: -1;
    position: absolute;
    width: 22%;
    left: 78%;
    top: 221%;
} 

.background-img #img-flor-menor {
    z-index: -1;
    position: absolute;
    width: 10%;
    right: 90%;
    top: 290%;
    transform: rotate(180.42deg);
}

    /* Conteúdo de texto - Sobre nós */
.quem-somos .container .content-text {
    max-width: 65%;
    width: 980px;
    flex-wrap: wrap;
    height: 891px;
    position: relative;
    left: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quem-somos .content-text h1 {
    font-size: 2em;
    color: #142E38;
}

.explicacao p, .porque-fazemos p {
    text-align: justify;
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
}

.quem-somos .content-text, .explicacao, .valores, .porque-fazemos {
    width: 83%;
    padding-top: 3.2em;
}

.quem-somos .valores {
    position: relative;
    left: 10%;
}

.valores .lista-valores {
    width: 63%;
    columns: 2;
    padding: 0 0 0 1.3em;
    font-size: 1rem;
}

.quem-somos .porque-fazemos {
    position: relative;
    left: 20%;
}

.quem-somos .container .content-img {
    position: absolute;
    width: auto;
    left: -2%;
    top: 225%;
}

.quem-somos .content-img #garoto-meditando {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    transition: 1.5s;
}


/* 3ª sessão - Funcionalidade */
.funcionalidades {
    z-index: 6;
    width: 1520px;
    height: 600px;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.funcionalidades .titulo {
    display: flex;
    justify-content: center;
    color: #142E38;
    font-weight: 700;
    font-size: 1.8em;
}


    /* Conteúdo de Funcionalidades e Descrições  */
.div_conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 8em;
    margin-top: 2em;
}

        /* Lista de Funcionalidades */
.lista-funcionalidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-titulo h2 {
    font-size: 1.2em;
    font-weight: 600;
    color: #142E38;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5em;
}

.lista-funcionalidades .func-lista-apoio,
.func-mural-mensagem,
.func-temporizador,
.func-dashboard,
.func-lava-lamp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.func-lista-apoio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-funcionalidades img {
    width: 45%;
}

.lista-funcionalidades .func-lista-apoio img,
.func-temporizador img {
    padding-right: 5%;
    padding-bottom: 17%;
}

.lista-funcionalidades .func-mural-mensagem img,
.func-dashboard img {
    padding-left: 5%;
}

.lista-funcionalidades h3 {
    font-size: 1.2em;
    font-weight: 420;
    color: #142E38;
    display: flex;
    text-align: center;
}

    /* Descrições das Funcionalidades */
.descricoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descricoes .desc-lista-apoio, 
.desc-mural-mensagem,
.desc-temporizador,
.desc-dashboard,
.desc-lava-lamp {
    width: 62%;
    padding: 1.2em 1.5em;
    border-radius: 20px;
    margin-top: 1em;
    background: #F4E8CFCC;
}

.descricoes .desc-mural-mensagem {
    position: relative;
    left: 10%;
    background: #F7C5BD;
}

.descricoes .desc-temporizador {
    background: #F4E8CFCC;
}

.descricoes .desc-dashboard {
    position: relative;
    left: 10%;
    background: #A1B182CC;
}

.descricoes .desc-lava-lamp {
    background: #F7C5BD;
}

.desc-lava-lamp,
.func-lava-lamp {
    margin-bottom: 4.8em;
}

/* Footer */
footer {
    margin-top: 4%;
    background-color: #FADD9C;
}

.content-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 250px;
    color: #142E38;
}

.content-footer img {
    width: 100px;
}

.links .social-media, h2 {
    font-size: 1.5em;
    margin-bottom: 8px;
}

.lista-links-footer {
    list-style: none;
    color: #142E38;
    margin-bottom: 8px;
    font-size: 0.90em;
}

.lista-links-footer li, a {
    padding-bottom: 0.6em;
    font-weight: 400;
    color: #142E38;
}

.social-img {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.social-img img {
    width: 30px;
}

.copyright p {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
    color: #142E38;
    padding-bottom: 0.8em;
}


/*  Estilização de alertas de erro  */
.alerta_erro{
    display: flex;
    justify-content: center;
}

.card_erro {
    display: none;
    background-color: #f7e9cc;
    color: black;
    width: 320px;
    position: fixed;
    border-radius: 4px;
    border: #A1B182 3px solid;
    padding: 25px;
    margin-right: 10%;
}

.card_erro #mensagem_erro{
    display: flex;
    text-align: justify;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
}

.loading-div {
    width: 50px;
    margin: auto;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

.div_errosLogin {
    color: #142E38;
    text-align: center;
    font-size: 0.9em;
    padding-top: 0.2em;
    padding-bottom: 0.6em;
}